
.homes tr.home-insurance {
	background-image: url(../../images/content/room.jpg);
}

.homes tr.home-investment {
	background-image: url(../../images/content/riad.jpg);
}

.homes tr.home-autoloan {
	background-image: url(../../images/content/calculator.jpg);
}

a#go-fr {
	margin: 0;
	border-color: #E76749;
	color: #E76749;
	text-shadow: 0 0px 0 #eeeeee;
	border-radius: 0px 0px 0px 10px;
	background-color: white;
	padding-bottom: 15px;
	padding-top: 15px;
}

a#go-ar {
	margin: 0;
	border-color: #E76749;
	border-width: 1px 1px 1px 0;
	color: #E76749;
	text-shadow: 0 0px 0 #eeeeee;
	border-radius: 0px 0px 10px;
	background-color: white;
	padding-bottom: 15px;
	padding-top: 15px;
}
.center{
	margin-left: auto;
	margin-right: auto;
}




