#mortgageSimulator {
	height: 100%;
}

.options-content {
	height: 100%;
	margin-right: 5px;
	margin-left: 5px;
	overflow: hidden;
}

.options-top {
	width: 100%;
	height: 84%;
	border-spacing: 0px;
	
}

.property-details-list .thumb {
	float: left;
	width: 5%;
	height: 30px;
	line-height: 45px;
	text-align: left;
}

.property-details-list .attribute {
	float: left;
	width: 90%;
	height: 30px;
}

.property-details-list .attribute .attribute-label {
	display: inline-block;
	float: left;
	font-size: 18px;
	width: 60%;
	line-height: 40px;
}

.property-details-list .attribute .attribute-value {
	display: inline-block;
	float: right;
	width: 40%;
	font-size: 18px;
	text-align: right;
}

.ui-input-text.ui-custom {
	border: none;
	box-shadow: none;
	background-color: transparent;
	margin: 0px;
	text-align: right;
}

.select-informations {
	border: none;
	box-shadow: none;
	background-color: transparent;
	margin: 0px;
	text-align: center;
	height: 40px;
	font-size: 18px;
	overflow: hidden;
	width: 105%;
	float: right;
	direction: rtl;
}

input.rightText {
	text-align: right;
}

.property-details-list .thumb-info {
	float: right;
	width: 5%;
	height: 30px;
	line-height: 45px;
	text-align: right;
}

.thumb-icon {
	margin-top: 8px;
	width: 20px;
	height: 20px;
}

#property_form {
	background-color: white;
}

#property_form ul li {
	border: none;
}

.ui-listview li p {
	font-size: .75em;
	font-weight: normal;
	display: block;
	margin: 0px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

a#back {
	margin: 0;
	border-color: #E76749;
	color: #E76749;
	background-color: white;
	text-shadow: 0 0px 0 #eeeeee;
	border-radius: 0px 0px 0px 5px;
}

a#submitButton {
	margin: 0;
	border-color: #E76749;
	border-width: 1px 1px 1px 0;
	color: #E76749;
	background-color: white;
	text-shadow: 0 0px 0 #eeeeee;
	border-radius: 0px 0px 5px;
}

table, td, th {
	border-color: #E76749;
	background-color: white;
	height: 90px;
	text-align: center;
}

input.centerText {
	text-align: center;
	border: none;
	border: 0;
	border-color: white;
	margin: 0;
	padding: 0;
}

.ui-input-text.ui-custom {
	border: none;
	box-shadow: none;
	background-color: transparent;
	margin: 0px;
	text-align: right;
}

#testimage img {
	max-width: 900px;
	max-height: 750px;
	min-height: 380px;
}

a#back {
	margin: 0;
	border-color: #E76749;
	color: #E76749;
	text-shadow: 0 0px 0 #eeeeee;
	border-radius: 0px 0px 0px 10px;
	background-color: white;
	padding-bottom: 15px;
	padding-top: 15px;
}

a#submitButton {
	margin: 0;
	border-color: #E76749;
	border-width: 1px 1px 1px 0;
	color: #E76749;
	text-shadow: 0 0px 0 #eeeeee;
	border-radius: 0px 0px 10px;
	background-color: white;
	padding-bottom: 15px;
	padding-top: 15px;
}

.popup-title {
	text-align: center;
	background-color: #E76749;
	color: white;
	margin: 0px;
	padding: 10px;
}

#ask-expert , #confirmation {
	background-color:transparent;
	border-width: 0px;
}

.bigText{
	font-size: 35px; 
}






a#cancel {
	margin: 0;
	border-color: #E76749;
	color: #E76749;
	background-color: white;
	text-shadow: 0 0px 0 #eeeeee;
	border-radius: 0px 0px 0px 5px;
}

a#popupSubmmit {
	margin: 0;
	border-color: #E76749;
	border-width: 1px 1px 1px 0;
	color: #E76749;
	background-color: white;
	text-shadow: 0 0px 0 #eeeeee;
	border-radius: 0px 0px 5px;
}
button#confirmationSubmit{
	
	border-color: #E76749;
	border-width: 1px;
	color: #E76749;
	background-color: white;
	text-shadow: 0 0px 0 #eeeeee;
	border-radius: 0px 0px 5px 5px;
	
}

input.rightText {
	text-align: right;
}
#mortgage-simulator-list {
	margin: 0px;
	border-width: 0px;
}
#mortgage-simulator-list li{
	margin: 0px;
	border-width: 0px;
	border-bottom: 1px solid #ccc;
	background-image: none;
}
.block-a{
	width: 50%;
	float:left;
}
.block-b{
	width: 50%;
	float:right;
}
#page{
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}
.no-flick{-webkit-transform:translate3d(0,0,0);}

