.homes tr.home-insurance {
	background-image: url(../../images/content/insurance.jpg);
}

.homes tr.home-investment {
	background-image: url(../../images/content/child.jpg);
}

.homes tr.home-autoloan {
	background-image: url(../../images/content/couple.jpg);
}

a#cs-cancel {
	margin: 0;
	border-color: #DF4B20;
	color: #BD2020;
	text-shadow: 0 0px 0 #eeeeee;
	border-radius: 0px 0px 0px 10px;
	background-color: white;
	padding-bottom: 15px;
	padding-top: 15px;
}

a#cs-continue {
	margin: 0;
	border-color: #DF4B20;
	border-width: 1px 1px 1px 0;
	color: #BD2020;
	text-shadow: 0 0px 0 #eeeeee;
	border-radius: 0px 0px 10px;
	background-color: white;
	padding-bottom: 15px;
	padding-top: 15px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.little {
	font-size: 10px;
}

.ui-footer {
	background: transparent !important;
}

a#homeButton {
	border-color: #E76749;
	border-width: 1px 1px 1px 1px;
	color: #E76749;
	font-size: 20px;
	text-shadow: 0 0px 0 #eeeeee;
	border-radius: 0px 0px 10px 10px;
	background-color: white;
	margin: 0px;
}

}
.next-best-content {
	height: 100%;
	margin-right: 5px;
	margin-left: 5px;
}

.homes {
	width: 100%;
	height: 93%;
	border-spacing: 0px;
	position: relative;
}
.next-td-text {
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 262px;
}
.bottom-title-right{
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
	text-align: right;
	color: #FFF;
	padding: 5px;
	font-size: 30px;
	z-index: 10;
}